* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.heading-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  gap: 5px;
}

.main-heading {
  font-size: 20px;
  font-weight: 600;
}

.main-heading-subtext {
  color: #A0A3BD;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  max-width: 500px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.prompt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.input-and-answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.language-selection-buttons {
  display: flex;
  gap: 7px;
  width: 600px;
}

.language-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 40px;
  background-color: white;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
  padding: 12px 16px;
  font-size: 14px;
}

.language-button:hover {
  cursor: pointer;
  background-color: #fcfcfc;
}

.language-button.active {
  border: 2px solid #36BFFA;
}

#question-input {
  display: flex;
  padding: 16px;
  margin: 0px;
  border-radius: 5px;
  width: 600px;
  height: 50px;
  background-color: white;
  color: black;
  border: 1px solid rgb(189, 189, 189);
  font-size: 14px;
  font-weight: 400;
}

#question-input:focus {
  border: 2px solid #36BFFA;
}

.response-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 500px;
  background-color: #f7f7f8;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 12px 16px;
  gap: 10px;
  overflow-y: auto;
}

.question-text-box {
  font-size: 18px;
  font-weight: 500;
}

.answer-text-box {
  font-size: 14px;
  text-align: left;
  max-width: 600px; /* Adjust the value as per your desired maximum width */
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.loadingMessage {
  color: #36BFFA;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  text-decoration: underline;
}
