* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: #fff0e5;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.heading-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  font-size: 14px;
  gap: 5px;
}

.main-heading {
  font-size: 26px;
  font-weight: 600;
}

.main-heading-subtext {
  color: black;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  max-width: fit-content;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.prompt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#dropdown-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  background-color: white;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 25px;
  padding: 10px 16px;
  font-size: 14px;
}

.language-selection-buttons {
  display: flex;
  gap: 7px;
  width: 600px;
}

.language-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 40px;
  background-color: white;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 25px;
  padding: 12px 16px;
  font-size: 14px;
}

.language-button:hover {
  cursor: pointer;
  background-color: #fcfcfc;
}

.language-button.active {
  border: 2px solid #36bffa;
}

.input-and-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.chat-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20%;
  height: 100%;
  background-color: #f7f7f8;
  border: 1px solid gainsboro;
  border-radius: 25px;
  padding: 24px 20px;
  gap: 20px;
  overflow-y: auto;
}

.chat-history-heading {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  text-decoration: underline;
}

.recent-question:hover {
  cursor: pointer;
  text-decoration: underline;
}

.chat-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75vw;
  height: 90vh;
  background-color: #f7f7f8;
  border: 1px solid gainsboro;
  border-radius: 25px;
  padding: 24px 30px;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.question-and-answer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.question-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-button {
  text-decoration: none;
  font-size: 13px;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  background-color: red;
  color: white;
  border: none;
  font-weight: 500;
  margin: 0;
}

.delete-button:hover {
  cursor: pointer;
  background-color: rgb(255, 47, 47);
}

.input-and-dropdown {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

#question-input {
  display: flex;
  padding: 16px;
  margin: 0px;
  border-radius: 25px;
  width: 55vw;
  height: 45px;
  background-color: white;
  color: black;
  border: 1px solid rgb(189, 189, 189);
  font-size: 14px;
  font-weight: 400;
}

#question-input:focus {
  border: 2px solid #36bffa;
}

.loading-message {
  display: flex;
  justify-self: left;
  color: #36bffa;
  font-size: 13px;
  font-weight: 500;
  margin: 10px 0px 0px 0px;
  text-decoration: underline;
  text-align: center;
}

.question-text-box {
  font-size: 18px;
  font-weight: 500;
}

.answer-text-box {
  font-size: 14px;
  text-align: left;
  max-width: 600px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
